@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  * {
    box-sizing: border-box;
    @apply border-primary;
  }
  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    @apply bg-base text-primary;
  }
}
@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 5px;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: rgba(0, 33, 71, 1);

    margin-top: 20px;
    margin-bottom: 10px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 100vh;
    border: none;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #918ffe;
  }
}
