.lock {
  background-color: #ffffff;
  width: 14px;
  height: 76%;
  margin-top: 20%;
  border-radius: 20%;
  transform: rotate(0);
}

.lockerLine,
.arc {
  content: '';
  position: absolute;
  /* background-color: aqua; */
  left: 2%;
}

.lockerLine {
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  border-radius: 70% 70% 0 0;
  width: 60%;
  height: 72%;
  top: -110%;
  left: 3px;
  transform-origin: 1px 0;
}

.arc {
  width: 18%;
  background-color: #ffffff;
  height: 96%;
  top: -70%;
  left: 2px;
}

.keyhole {
  position: absolute;
  width: 2px;
  height: 40%;
  background-color: #c1121f;
  border-radius: 30%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
